.flex {
    display: flex;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #d2d6dc;

}



.search {
    width: 60%;
    height: 3.4rem;
    padding: 0px 1rem;
    font-weight: 400;
    font-size: 1.3rem;
    cursor: text;
    outline: 0px;
    border: 1px solid rgb(227, 233, 243);
    border-radius: 2px;
    color: rgb(51, 55, 64);
    background-color: transparent;
    
    text-align: center;
}