@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;  
  align-items: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  align-items: center;
  
}

a {
  text-decoration: none;
  color: rgb(11, 106, 230);
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}

.center{
  margin:auto;
  padding:10px;
  
}

.btn {
  display: inline-block;
  background: #fc7307;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 7px;
  font-weight: 700;
  font-size: .9rem;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  font: inherit;
  font-size: 13px;
  background: 64b5f6;
  color: #fff !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}

.card {
  background-color: #2e4a62;
  color: white;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
}

.cardHeader {
border: 1px solid rgb(207,217,224);
justify-content: space-between;
align-items: center;
background: #fff;
color: #333;

padding: 0 30px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.cardHighlight {
  font-weight: bold;
}

.center {
  border: 5px solid transparent;
  text-align: center;
  justify-content: center;
}

.tableContainer{
  display: inline;
  padding-right: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fieldName {
  display: table-cell;
  vertical-align: middle;
  padding-right: 4px;
  width: max-content;
}

.data {
  display: table-cell;
  width: 90%;
}